@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.keyboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(165, 38, 224, 0.253);
  font-size: 30px;
  padding: 10px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
  margin-top: 60px;
  width: 953px;
  border-radius: 10px;
  font-family: "Volkhov", serif;
  font-size: 25px;
}
.keyboardLine {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  &:nth-child(4) {
    margin-right: 60px;
  }
  
}
.keyboardButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 53px;
  margin: 3px;
  text-align: center;
  cursor: pointer;
  &:active {
    color: rgb(192, 73, 143);

    border: 2px solid black;
  }
  background-color: white;
  border-radius: 10px;
}

textarea {
  font-size: 30px;
  width: 934px;
  padding: 10px;
  height: 200px;
  background-color: rgba(235, 179, 213, 0.219);
  resize: none;
}

.active {
  border: 2px solid black;
}

div[data-key="SPACE"] {
  width: 498px;
  text-align: center;
}
div[data-key="Backspace"] {
  width: 201px;
  text-align: center;
}
div[data-key="Tab"] {
  width: 92px;
  text-align: center;
}
div[data-key="Delete"] {
  width: 127px;
  text-align: center;
}
div[data-key="CapsLock"] {
  width: 166px;
  text-align: center;
}
div[data-key="CtrlR"] {
  width: 116px;
  text-align: center;
}
div[data-key="Alt"] {
  width: 105px;
  text-align: center;
}
div[data-key="Shift"] {
  width: 270px;
  text-align: center;
}
div[data-key="Ctrl"] {
  width: 129px;
  text-align: center;
}
div[data-key="Enter"] {
  width: 136px;
  text-align: center;
}
.textAfter {
  
}